*{
    margin: 0;
    padding:0;
}
header{
    height: 180px;
}
header nav{
    float: right;
    margin-top: 25px;
    position: relative;
}
header nav ul li{
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
}
ul{
    list-style: none;
}
.logo{
    float: left;
    margin-top: 32px;
    background-color: blue;
    border-radius: 60%;
    font-style:italic;
    color: aliceblue;
    font-weight: bold;
}
.wrapper{
    width: 980px;
    margin:0 auto;
    padding: 0 10px;
    /* border: 15px solid; */
    justify-content: center;
    height: 380px;

}
#entete{
    background-color: beige;
     
}
#activite{
    display: inline-block;
    margin-top: 15px;
}
 #button-1{
    display:block;
    clear: both;
    float: right;
    height:35px;
    border-radius:16px;
    border-color: blue;
    justify-content: center;
    padding: 15px auto;
    text-decoration: none;
    
}
.bouton{
    display:block;
    width: 50%;
    border: 5px;
    height: 25px auto;
    border-radius:10px;
    justify-content: center;
    padding: 0 auto;
    color: rgb(255, 240, 240);
    background-color: blue;
    text-decoration: none;
    

}
button h2{
    color: aliceblue;
    text-decoration: none;
}
button a{
      text-decoration: none;
}
#plus{
    width: 100%;
}

li a{
    text-decoration: none;
    color: black;
}
#presentation-image{
    display: block;
    float: right;
    width: 45%;
    height: 45%;
 /* border: 15px solid; */
  
 border-image: round;
 display: flex;
 justify-content: flex-end;
 background-color:  white;


}
img{
    margin-top: 15px;
    border-radius: 40%;
}
section div div ul {
    display: flex;
    border: 5px;
    justify-content: flex-end;
    background-color: beige;
    margin-bottom: 0%;
}
section div div ul li{
    display: inline-block;
    margin-right: 15px;
}

/* Section projets */
#portfolio{
    margin-bottom: 0%;
    height:100px;
}

#right{
    width: 50%;
    /* border: 5px solid red; */
    display: block;
    float: right;
    width: 45%;
    height: 45%;
    position: relative;
}
#left{
    width: 50%;
    /* border: 5px solid greenyellow; */
    float: right;
    position: relative;
    margin-right: 150px;
}
#projet{
    display: flex;
    flex-direction: row-reverse;
    width: 980px;
    margin:0 auto;
    padding: 0 10px;
    /* border: 15px solid; */
    justify-content: center;
    height: 480px;
}
#img-projet{
    margin-top: 15px;
    border-radius: 0%;
    width: 50%;
    height: 200%;
    width: 100%;
}
#langage-contain{
    display: bock;
    width: 980px;
    margin:0 auto;
    padding: 0 10px;
    justify-content: center;
    height: 100%;
    /* border: 5px solid yellow; */
    flex-direction: row-reverse;
    position: x;
}
.experience-logo{
    width: 50px;
    border-radius: 0%;
}
section#experiences ul{

    display: inline-block;
    /* border: 5px solid red; */
    width: 100%;
    justify-content: center;
}
section#experiences ul li{
    display: inline-block;
    justify-content: center;
    /* border: 5px solid red; */
    margin-left: 15%;
}
.input{
    display: block;
    background-color: blue;
    width: 75%;
    color: white;

}
.service-desc{
    border: 2px solid red;
    width: 40%;
    margin: 2% auto;
}
.services-contain{
    display: flex;
}
#services{
    background-color: aqua;
    margin: 1% auto;
}
#contact{
    background-color: beige;
    margin-bottom: 0%;
}
#footer{
    display: flex;

}